html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
button {
  background-color: #04AA6D; /* Green */
  border: none;
  border-radius: 20px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  margin: 4px 2px;
  cursor: pointer;
}