html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
 button {
  display: inline-block;
  padding: 30px 50px;
  font-size: 35px;
  cursor: pointer;
  text-align: center;
  text-decoration: solid;
  outline: none;
  color: black;
  background-color: #FAD518; /*default color*/
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: 'Balsamiq Sans', cursive;
}

button:hover {background-color: #f7cd00}

button:active {
  background-color: #f7cd00;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} 